solver:
  horizon_steps: 20
  dt: 0.05
  position_weight: [10.0, 10.0, 8.0]
  velocity_weight: [1.0, 1.0, 0.2]
  quaternion_weight: [3.2, 3.2, 3.2, 3.2]
  rate_weight: [1.4, 1.4, 0.4]
  control_weight: [1.75, 1.75, 1.75, 1.75]
  terminal_weight: [5.0, 5.0, 3.0,
                    2.0, 2.0, 2.0,
                    12.0, 12.0, 12.0, 18.5,
                    2.0, 2.0, 1.8]
  regularization: 7.0e-03
  iter_max: 600
  codegen_directory: ~/.cache/rotors_mpc_controller/acados

vehicle:
  mass: 0.68
  inertia: [0.0070, 0.0, 0.0,
            0.0, 0.0070, 0.0,
            0.0, 0.0, 0.0120]
  arm_length: 0.17
  rotor_force_constant: 8.54858e-06
  rotor_moment_constant: 0.016
  motor_min_speed: 50.0
  motor_max_speed: 838.0
  rotor_configuration: '+'

controller:
  thrust_limits: [0.0, 20.0]

world:
  gravity: 9.81

reference:
  frame: world
  default_position: [0.0, 0.0, 2.5]
  default_velocity: [0.0, 0.0, 0.0]
  default_acceleration: [0.0, 0.0, 0.0]
  default_yaw: 0.0
  trajectory:
    enabled: true
    type: circle
    radius: 3.0
    altitude: 1.0
    center: [0.0, 0.0]
    max_speed: 1.0
    linear_acceleration: 1.0
    clockwise: true
    loop: false
    profile: continuous
    revolutions: 3.0
    yaw_mode: fixed
    yaw_constant: 0.0
    yaw_offset: 0.0
    dt: 0.03
    # Call ~prepare_trajectory first to move to the start point, then ~start_trajectory to begin tracking.
    start_position_tolerance: 0.15
  transition:
    enabled: true
    dt: 0.05
    max_speed: 1.0
    max_acceleration: 0.75
    max_yaw_rate: 1.0
    distance_epsilon: 0.02
    yaw_mode: interpolate
    min_duration: 0.0

topics:
  state: /hummingbird/ground_truth/odometry
  motor: /hummingbird/command/motor_speed
  reference: /mpc_controller/setpoint
  reference_path: /mpc_controller/reference_path
  prediction_markers: /mpc_controller/prediction_markers

node:
  rate: 60.0
  log_interval: 3.0
