<launch>

  <!-- Include the MAV simulation (Hummingbird) -->
  <include file="$(find rotors_gazebo)/launch/mav.launch">
    <arg name="mav_name" value="hummingbird" />
  </include>

  <!-- Controller nodes -->
  <node pkg="rotors_mpc_controller"
        type="mpc_controller_node"
        name="mpc_controller_node"
        output="screen" />
</launch>
